* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: cursive; */
    
}

:root[data-theme='light']{
    --main-bg-color: #eff1f3;             /* main bg-color on the pages */
    --main-nav-bg-color: #2e4460;         /* bg-color on the nav/meny */
    --meny-nav-link-color:#f9f7e5;
    --gaskait-logo-txt-color:#0086c9;
    --footer-bottom-bg-color:#343a40;
    --main-link-hover-color:#808080;

    
    --text-area-bg-color:#e0e0e0;
    --omOss-memb-desc-color:#000000;

    
    --footer-fab-color:#000000;
    --modal-popup-window-bgColor-behind-popup:#00000066; 

}
:root /* [data-thema="dark"] */ {  /*Dark theme colors if we make color switch*/
    --main-bg-color: #2b2b2b;            
     --main-nav-bg-color: #393936;  
     --meny-nav-link-color:#f9f7e5;
     --omOss-memb-desc-color:#e1e1ff;
     --text-area-bg-color:#3c3f41;
     --gaskait-logo-txt-color:#0086c9; 
     --footer-bottom-bg-color:#343a40;
        
   
    
    --main-link-hover-color:#808080;
/*
    --footer-info-txt-color:#d3d3d3;
    --footer-h3-color: #dedddd;
    --footer-link-txt-color: #ffffff;
    --footer-fab-color:#ffffff;

    --footer-contact-input-bg-color:#272727;
    --footer-contact-input-color:#bebdbd;
    
    --price-box-div-bg-color: #d4d4d4;    
    --price-btn-color: #4CAF50;           
    --price-btn-shadow-color:#008000;     
    --modal-popup-window-bgColor-behind-popup:#00000066; 
    --modal-popup-bg-color:#d8d8d8;
    
    --omOss-page-txt-color:#ffffff;
    --omOss-memb-rubrik-color:#f1f0f0;
    --omOss-memb-desc-color:#e7e7e7;
     */
}                                          
html, body{
    height: 100%;
}

.theme-switch-wrapper {
    display: flex;
    align-items: center;
  }
  .theme-switch-wrapper em {
    margin-left: 10px;
    font-size: 1rem;
  }
  
  .theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }
  
  .theme-switch input {
    display: none;
  }
  
  .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }
  
  input:checked + .slider {
    /* background-color: #66bb6a; */
    background-color: #000000;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

article{
    min-height: 100%;
    height: auto;
     /* background-color: #d9d9d9; */
    /* background-color: #676765; *//* Same color without using css var*/
    background-color: var(--main-bg-color);
    display: flex;
    color: var(--omOss-memb-desc-color);
    background-color:var( --text-area-bg-color);
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    /* background-color: #393936; */ /* Same color without using css var*/
    background-color: var(--main-nav-bg-color);
    /* Makes the nav-bar follow you down (Don't wor) */
    /* position: fixed;
    width: 100%;
    z-index: 10; */
   
    
}

.nav-logo{
    width: 7em;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}
/*Företagsnamnet som ligger i menyn/nav */
.logo {
    font-size: 35px;
}
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 35%;
    z-index: 5;
    
}


.nav-item{
    display: block;
    padding: 2.9rem 1.5rem;
    will-change: color;
    transition: color .25s ease-out;
    text-decoration: none;
    /* text-transform: uppercase; */
    /* display: block; */
    /* padding: 2rem 1rem; */
}
.nav-item:hover{
    border-bottom: 2px solid white;
    /* margin-bottom: -1px; */
    /* padding-bottom: 3rem; */
    /* transition: all .4s; */

}

.nav-links li {
    list-style: none;
    
}

.nav-links a {
    /* color:#E2FFFF; */
    
    color: var(--meny-nav-link-color);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}
.nav-links a:hover{
    /* color: #808080; */
    color:var(--main-link-hover-color);
    transition: all .4s;
}
.burger {
    display: none;
}
.burger div {
    width: 25px;
    height: 3px;
    /* background-color: #e2e2e2; */
    background-color: var(--meny-nav-link-color);
    
    margin: 5px;
    transition: all 0.3s ease;
}
    /* Tablet for size of nav-links  */
@media screen and (max-width:1270px) {
    .nav-links {
        width: 50%;
    }
}
    /* Mobile for nav links/burger */
@media screen and (max-width:906px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        /* background-color: #393936; */
        background-color: var(--main-nav-bg-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
        cursor: pointer;
    }
}
.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
/*styr utsendet på burger iconen*/
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* Makes The nav-bar follow as you scroll down  */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20 !important;
  }
  
  .sticky + .content {
    padding-top: 102px;
  }

/* Home page  */
.slide{
    filter: blur(5px);
  -webkit-filter: blur(5px);
}

.main_page_txt_div{
    margin: 1%;
    line-height: 1.5rem;
    background-color:var( --text-area-bg-color);
}


.container {
    width: 100%;
    height: 500px;
    position: relative;
    
  }
  .container .other-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 2;
    padding: 30px;
    font-size: 50px;
    color: white;
  }
  .container .slide {
    z-index: 1;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    transition: opacity 1s ease-in-out;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
  }
  .container .slide.show {
    opacity: 1;
  }


        /*Priser.php*/
.main { 
    justify-content: center;
    padding: 0.4%;
}

/*Styr utsendet på pris containerna samt innhållet*/
.price_div{
    display: flex;
    flex-direction: row;         
    justify-content: center;
    margin-top: 5em;
    text-align: center;
    overflow: hidden;
}
.box1{
    padding-top: 2em;
    height: 30em;
    width: 18em;
    /* background-color: #d4d4d4; */
    background-color: var(--price-box-div-bg-color);
    box-shadow: 0px 5px 10px #000000;
    margin: 1em;
    border-radius: 1em;
 
}
.box2{
    padding-top: 2em;
    height: 30em;
    width: 18em;
    /* background-color: #d4d4d4; */
    background-color: var(--price-box-div-bg-color);
    box-shadow: 0px 5px 10px #000000;
    margin: 1em;
    border-radius: 1em;
}
.box3{
    padding-top: 2em;
    height: 30em;
    width: 18em;
    /* background-color: #d4d4d4; */
    background-color: var(--price-box-div-bg-color);
    box-shadow: 0px 5px 10px #000000;
    margin: 1em;
    border-radius: 1em;
}

/*Gör så att containerna blir under varandra i mitten för mobiler*/
@media only screen and (max-width: 860px) {
    .price_div    {
        flex-direction: column;    
        justify-content: center;
        align-items: center;
    }
}
.package_name{
    text-decoration: underline;
    font-size: 4vh;
}
#price_btn1 {
    /* background-color: #4CAF50; */
    background-color: var(--price-btn-color);
    border: none;
    color: white; /* Color inside the price btn*/
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 1em;
    cursor: pointer;
    box-shadow: 0px 0px 5px var(--price-btn-shadow-color);
    margin-top: 4em;
}
#price_btn2 {
    /* background-color: #4CAF50; */
    background-color: var(--price-btn-color);
    border: none;
    color: white;   /* Color inside the price btn*/
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 1em;
    cursor: pointer;
    box-shadow: 0px 0px 5px var(--price-btn-shadow-color);
    margin-top: 4em;
}
#price_btn3 {
    /* background-color: #4CAF50; */
    background-color: var(--price-btn-color);
    border: none;
    color: white;   /* Color inside the price btn*/
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 1em;
    cursor: pointer;
    box-shadow: 0px 0px 5px var(--price-btn-shadow-color);
    margin-top: 4em;
}
.package_ul{
    list-style-type: none; 
}
/*Gör skuggan runt knappen i price divsen*/
#price_btn1:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#price_btn2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#price_btn3:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.package_ul > li{
    padding: 4px 10px;
}
    /*  popup window priser   */
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; /* Enable scroll if needed */
    /* background-color: #00000066; Black w/ opacity */
    background-color: var(--modal-popup-window-bgColor-behind-popup);
}

/* popup Content */
.popup1-content {
    /* background-color: #d8d8d8; */
    background-color: var(--modal-popup-bg-color);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 50em;      
}
/* The Close Button */
.close {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold; 
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.close2 {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold; 
}
.close2:hover,
.close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.close3 {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold; 
}
.close3:hover,
.close3:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

        /* OmOss.php*/
#OmOss_div{
    margin: 1%;
    background-color:var( --text-area-bg-color);
    
}
.OmOss, p a{
    color:inherit;
}
#members{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--text-area-bg-color);
}
#medlem_top{
    text-align: center;
    /* color: #000000; */
    color: var(--omOss-memb-desc-color);
}
.member {
    display: inline;
}
.name_descr {
    display: inline;
    color:var(--omOss-memb-desc-color);
}
.member img {
    width: 80%;
    display: block;
    margin: auto;
}

        /*templates/footer.php*/
footer {
    /* background: #393936; */
    background-color: var(--main-nav-bg-color);
    /* color: #d3d3d3; */
    color: var(--meny-nav-link-color);
    height: 420px;
    position: relative;
}
footer h3{
    font-size: 2.5em;
    text-align: center;
    text-decoration: underline;
}
.log-text{
    color:var(--gaskait-logo-txt-color);
}
footer .footer-content{   
    height: 350px;
    display: flex;
}
footer .footer-content .footer-section{
    flex: 1;
    padding: 25px;
    
}
.footer .footer-content, h3{
    /* color: #dedddd; */
    color: var(--footer-h3-color);
}
.footer .footer-content .about .contact, p{
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
}
.fab {
    border: 1px solid grey;
    width: 45px;
    height: 41px;
    padding-top: 10px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 5px;
    /* color: #ffffff; */
    /* color:var(--footer-fab-color); */
    color:var(--meny-nav-link-color);
    transition: all .4s;
}
.fab:hover{
    color:grey;
    border: 1px solid grey;
    transition: all .4s;
}
 .footer_links{
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    transition: all .4s;
    color: var(--footer-link-txt-color);
}
.footer_links:hover{
    /* color: #808080; */
    color: var(--main-link-hover-color);
    margin-left: 15px;
    transition: all .4s;
}
/* Styr utsendet på footer/contact form */
.contact-form .text-input, .contact-input{
    /* background: #272727; */
    background-color: var(--footer-contact-input-bg-color);
    /* color: #bebdbd; */
    color:var(--footer-contact-input-color);
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding: .9rem 1.4rem;
    width: 100%;
    border-radius: 20px;
}
/*Styr utsendet på text area i footer/contact form */
.text-input:focus, .contact-input:focus {
    background: #121212; 
    outline: none !important;
}
/* Styr utsendet på send knappen i footer/contact form */
.btn{
    padding: .7rem 1.3rem;    
    line-height: 1.3rem;
    background: #006669;
    border:1px solid transparent;
    border-radius: .25rem;
    float: right;
}
.btn:hover{
    color:white;
    background: #005255;
}
footer .footer-bottom{
    /* background: #343a40; */
    background: var(--footer-bottom-bg-color);
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: -25px; /*Make so the contact btn is not hidden in the footer*/
    left: 0px;
    padding-top: 20px;
    color:var(--meny-nav-link-color);
}

/*Styr utsendet i footer i mobil läge */
@media only screen and (max-width: 934px){
    footer {
    height: auto;
    position: relative;
    }
    footer .footer-content{
        height: auto;
        flex-direction: column;
        padding-bottom: 90px;
    }
    .btn{
        width: 100%;
    }
}