* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

:root[data-theme='light'] {
    --main-bg-color: #eff1f3;
    /* main bg-color on the pages */
    --main-nav-bg-color: #2e4460;
    /* bg-color on the nav/meny */
    --meny-nav-link-color: #ffffff;
    --gaskait-logo-txt-color: #0086c9;
    --footer-bottom-bg-color: #343a40;
    --main-link-hover-color: #808080;

    --text-area-bg-color: #e0e0e0;
    --omOss-memb-desc-color: #000000;
    --footer-fab-color: #000000;
    --modal-popup-window-bgColor-behind-popup: #00000066;

    --price-table-txt-color:#000000;




    --price-page-bg-color:#F8F9FB;
    --accent-color: #641BFF;
    --heading-font-family: 'Poppins', sans-serif;
    --body-font-family: 'Lato', sans-serif;
}

:root

/* [data-thema="dark"] */
    {
    /*Dark theme colors if we make color switch*/
    --main-bg-color: #2b2b2b;
    --main-nav-bg-color: #393936;
    --meny-nav-link-color: #ffffff;
    --omOss-memb-desc-color: #ffffff;
    --text-area-bg-color: #3c3f41;
    --gaskait-logo-txt-color: #0086c9;
    --footer-bottom-bg-color: #343a40;

    --main-link-hover-color: #808080;

    --price-table-txt-color:#000000;
    --price-page-bg-color:#2b2b2b;
    --accent-color: #641BFF;
    --heading-font-family: 'Poppins', sans-serif;
    --body-font-family: 'Lato', sans-serif;
    /*
    --footer-info-txt-color:#d3d3d3;
    --footer-h3-color: #dedddd;
    --footer-link-txt-color: #ffffff;
    --footer-fab-color:#ffffff;

    --footer-contact-input-bg-color:#272727;
    --footer-contact-input-color:#bebdbd;
    
    --omOss-page-txt-color:#ffffff;
    --omOss-memb-rubrik-color:#f1f0f0;
    --omOss-memb-desc-color:#e7e7e7;
     */

    --price-box-div-bg-color: #d4d4d4;
    --modal-popup-window-bgColor-behind-popup: #00000066;
    --modal-popup-bg-color: #d8d8d8;
}

html,
body {
    height: 100%;
}

.theme-switch-wrapper {
    display: flex;
    align-items: center;
}

.theme-switch-wrapper em {
    margin-left: 10px;
    font-size: 1rem;
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked + .slider {
    /* background-color: #66bb6a; */
    background-color: #000000;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

article {
    min-height: 100%;
    height: auto;
    /* background-color: #d9d9d9; */
    /* background-color: #676765; */
    /* Same color without using css var*/
    background-color: var(--main-bg-color);
    display: flex;
    color: var(--omOss-memb-desc-color);
    background-color: var(--text-area-bg-color);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    /* background-color: #393936; */
    /* Same color without using css var*/
    background-color: var(--main-nav-bg-color);
    /* Makes the nav-bar follow you down (Don't wor) */
    /* position: fixed;
    width: 100%;
    z-index: 10; */
}

.nav-logo {
    width: 7em;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

/*Företagsnamnet som ligger i menyn/nav */
.logo {
    font-size: 35px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 35%;
    z-index: 5;

}


.nav-item {
    display: block;
    padding: 2.9rem 1.5rem;
    will-change: color;
    transition: color .25s ease-out;
    text-decoration: none;
    /* text-transform: uppercase; */
    /* display: block; */
    /* padding: 2rem 1rem; */
}

.nav-item:hover {
    border-bottom: 1px solid white;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    /* color:#E2FFFF; */

    color: var(--meny-nav-link-color);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.nav-links a:hover {
    /* color: #808080; */
    color: var(--main-link-hover-color);
    transition: all .4s;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    /* background-color: #e2e2e2; */
    background-color: var(--meny-nav-link-color);

    margin: 5px;
    transition: all 0.3s ease;
}

/* Tablet for size of nav-links  */
@media screen and (max-width:1270px) {
    .nav-links {
        width: 50%; 
    }
}

/* Mobile for nav links/burger */
@media screen and (max-width:906px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        /* background-color: #393936; */
        background-color: var(--main-nav-bg-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

/*styr utsendet på burger iconen*/
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}


/* Makes The nav-bar follow as you scroll down  */
/* .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20 !important;
  }
  
  .sticky + .content {
    padding-top: 102px;
  } */

/* Home page  index.php */
.slide {
    filter: blur(5px);
    -webkit-filter: blur(5px);
}
.container {
    width: 100%;
    height: 500px;
    position: relative;

}

.container .other-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 2;
    padding: 30px;
    font-size: 50px;
    color: white;
}

.container .slide {
    z-index: 1;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    transition: opacity 1s ease-in-out;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
}

.container .slide.show {
    opacity: 1;
}

.main_page_txt_div {
    margin: 1%;
    background-color: var(--text-area-bg-color);
    margin-left: auto;
    margin-right: auto;
    width:70em;
    height: 100%;
}
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
#main-page-article{
    min-height: auto;
}

.main_page_txt_div > #main_page-txt_info{
    /* text-align: center; */
    font-family: 'Raleway';
    color: var(--omOss-memb-desc-color);
    font-size: 2.5em;
    font-weight: normal;
    /* font-style: italic; */
    letter-spacing: 0.1em;
    line-height: 1.5em;
}
#main-page-article2{
    min-height: auto;
    background-color: var(--main-bg-color);
    display: flex;
    color: var(--omOss-memb-desc-color);
    background-color: var(--text-area-bg-color)
}

.mainCardHome{
    max-width: 1200px;
    margin: 0 auto;
  }
  img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }
  
  .btn {
    text-align: center;
    color: #ffffff;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
  }
  
  .btn:hover {
    background-color: rgba(255, 255, 255, 0.12);
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .cards_item {
    display: flex;
    padding: 1rem;
  }
  
  @media (min-width: 40rem) {
    .cards_item {
      width: 50%;
    }
  }
  
  @media (min-width: 56rem) {
    .cards_item {
      width: 33.3333%;
    }
  }
  
  .card {
    /* background-color: white; */
    background-color: var(--main-bg-color);
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .card_content {
    padding: 1rem;
    background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
    background:var(--main-bg-color);
  }
  
  .card_title {
    /* color: #ffffff; */
    color: var(--omOss-memb-desc-color);
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0px;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    text-decoration: underline;
  }
  
  .card_text {
    color: #ffffff;
    color: var(--omOss-memb-desc-color);
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;    
    font-weight: 400;
  }
  .made_by{
    font-weight: 400;
    font-size: 13px;
    margin-top: 35px;
    text-align: center;
  }


/*Priser.php*/
.main {
    margin: 0;
    /* background-color: #F8F9FB; */
    background-color: var(--price-page-bg-color);
    min-width: 99vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--body-font-family);
}
.price-comparison {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    margin: 1rem;
}

.price-column {
    background-color: white;
    box-shadow: 0 7px 30px rgba(52, 31, 97, 0.1);
    padding: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 275px;
    border-radius: 8px;
    color: var(--price-table-txt-color);
}

.price-column.popular {
    position: relative;
    background-color: var(--accent-color);
    box-shadow: 0 7px 30px rgba(52, 13, 135, 0.3);
    color: white;
    margin-top: -1.5rem;
    padding-top: 3.5rem;
    margin-bottom: -1.5rem;
    padding-bottom: 3.5rem;
}

.price-column:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.price-column:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.price-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--heading-font-family);
    font-weight: bold;
}
.price {
    font-size: 3.5rem;
    display: flex;
}
.per-month {
    font-size: .75rem;
    align-self: flex-end;
    margin-bottom: 1.1rem;
    text-transform: uppercase;
}
.plan-name {
    text-transform: uppercase;
    font-size: .9rem;
    margin-top: 1rem;
    margin-bottom: 0;
}

.divider {
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, .2);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.price-column.popular .divider {
    background-color: rgba(255, 255, 255, .2);
}

.feature {
    display: flex;
    align-items: center;
    margin: .5rem;
    
}

.feature img {
    height: 1.1em;
    width: 1.1em;
    margin-right: .5rem;
}

.feature.inactive {
    color: #999;
    text-decoration-line: line-through;
}

.most-popular {
    position: absolute;
    top: .5rem;
    left: .5rem;
    right: .5rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: var(--heading-font-family);
}

#cta_btn1 {
    border: none;
    background-color: var(--accent-color);
    color: white;
    width: 100%;
    padding: .75rem 1rem;
    cursor: pointer;
    font-family: var(--heading-font-family);
    font-weight: bold;
    border-radius: 4px;
    margin-top: 3rem;
    transition: 100ms;
    transform: scale(1);
}

#cta_btn1:hover,
#cta_btn1:focus {
    transform: scale(1.1);
}

#cta_btn2 {
    border: none;
    width: 100%;
    padding: .75rem 1rem;
    cursor: pointer;
    font-family: var(--heading-font-family);
    font-weight: bold;
    border-radius: 4px;
    margin-top: 3rem;
    transition: 100ms;
    transform: scale(1);
    background-color: white;
    color: var(--accent-color);
}

#cta_btn2:hover,
#cta_btn2:focus {
    transform: scale(1.1);
}

#cta_btn3 {
    border: none;
    background-color: var(--accent-color);
    color: white;
    width: 100%;
    padding: .75rem 1rem;
    cursor: pointer;
    font-family: var(--heading-font-family);
    font-weight: bold;
    border-radius: 4px;
    margin-top: 3rem;
    transition: 100ms;
    transform: scale(1);
}

#cta_btn3:hover,
#cta_btn3:focus {
    transform: scale(1.1);
}
@media (max-width: 900px) {
    .price-comparison {
      flex-direction: column;
      align-items: center;
    }
  
    .price-column {
      min-width: 275px;
    }
  
    .price-column:first-of-type {
      margin-bottom: 3rem;
    }
  
    .price-column:last-of-type {
      margin-top: 3rem;
    }
  }

/* @media only screen and (max-width: 860px) {
    .price-comparison {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
} */
/* 


/*Gör så att containerna blir under varandra i mitten för mobiler*/
@media only screen and (max-width: 600px) {
    .price-comparison {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.package_name {
    text-decoration: underline;
    font-size: 4vh;
}

/*  popup window priser   */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* Enable scroll if needed */
    /* background-color: #00000066; Black w/ opacity */
    background-color: var(--modal-popup-window-bgColor-behind-popup);
}

/* popup Content */
.popup1-content {
    /* background-color: #d8d8d8; */
    background-color: var(--modal-popup-bg-color);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 50em;
}

/* The Close Button */
.close {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.close2 {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close2:hover,
.close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.close3 {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close3:hover,
.close3:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* OmOss.php*/
main{
    min-height: auto;
    height: auto;
    /* background-color: #d9d9d9; */
    /* background-color: #676765; */
    /* Same color without using css var*/
    background-color: var(--main-bg-color);
    display: flex;
    color: var(--omOss-memb-desc-color);
    background-color: var(--text-area-bg-color);

}
#OmOss_div {
    margin: 1%;
    background-color: var(--text-area-bg-color);
}
/* #aboutOss{
    height: auto;
} */

.OmOss,
p a {
    color: inherit;   
}
#omtxt{
    line-height: 1.5rem;
    top: 50%;
    text-align: center;
}
#members {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--text-area-bg-color);
}

#medlem_top {
    text-align: center;
    /* color: #000000; */
    color: var(--omOss-memb-desc-color);

}

.member {
    display: inline;

}

.name_descr {
    display: inline;
    color: var(--omOss-memb-desc-color);

}

.member img {
    width: 80%;
    display: block;
    margin: auto;
}

/*templates/footer.php*/
footer {
    /* background: #393936; */
    background-color: var(--main-nav-bg-color);
    /* color: #d3d3d3; */
    color: var(--meny-nav-link-color);
    /* height: 420px; */
    height: 56vh;
    position: relative;
}

footer h3 {
    font-size: 2.5em;
    text-align: center;
    text-decoration: underline;
}

.log-text {
    color: var(--gaskait-logo-txt-color);
}

footer .footer-content {
    height: 350px;
    display: flex;
}

footer .footer-content .footer-section {
    flex: 1;
    padding: 25px;

}

.footer .footer-content,
h3 {
    /* color: #dedddd; */
    color: var(--footer-h3-color);
}
.footer .footer-content .about .contact,
p {
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
}

.fab {
    border: 1px solid grey;
    width: 45px;
    height: 41px;
    padding-top: 10px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 5px;
    /* color: #ffffff; */
    /* color:var(--footer-fab-color); */
    color: var(--meny-nav-link-color);
    transition: all .4s;
}

.fab:hover {
    color: grey;
    border: 1px solid grey;
    transition: all .4s;
}

.footer_links {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    transition: all .4s;
    color: var(--footer-link-txt-color);
}

.footer_links:hover {
    /* color: #808080; */
    color: var(--main-link-hover-color);
    margin-left: 15px;
    transition: all .4s;
}

/* Styr utsendet på footer/contact form */
.contact-form .text-input,
.contact-input {
    /* background: #272727; */
    background-color: var(--footer-contact-input-bg-color);
    /* color: #bebdbd; */
    color: var(--footer-contact-input-color);
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding: .9rem 1.4rem;
    width: 100%;
    border-radius: 20px;
}

/*Styr utsendet på text area i footer/contact form */
.text-input:focus,
.contact-input:focus {
    background: #121212;
    outline: none /*!important*/;
}

/* Styr utsendet på send knappen i footer/contact form */
.btn {
    padding: .7rem 1.3rem;
    line-height: 1.3rem;
    background: #006669;
    border: 1px solid transparent;
    border-radius: .25rem;
    float: right;
}

.btn:hover {
    color: white;
    background: #005255;
}

footer .footer-bottom {
    /* background: #343a40; */
    background: var(--footer-bottom-bg-color);
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: -25px;
    /*Make so the contact btn is not hidden in the footer*/
    left: 0px;
    padding-top: 15px;
    color: var(--meny-nav-link-color);
}

/*Styr utsendet i footer i mobil läge */
@media only screen and (max-width: 934px) {
    footer {
        height: auto;
        position: relative;
    }

    footer .footer-content {
        height: auto;
        flex-direction: column;
        padding-bottom: 90px;
    }
    .btn {
        width: 100%;
    }
}

/* Create three columns of equal width */
.columns {
    float: left;
    width: 33.3%;
    padding: 8px;
}

/* Style the list */
.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

/* Add shadows on hover */
.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2)
}

/* Pricing header */
.price .header {
    background-color: #111;
    color: white;
    font-size: 25px;
}

/* List items */
.price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
}

/* Grey list item */
.price .grey {
    background-color: #eee;
    font-size: 20px;
}

/* The "Sign Up" button */
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

/* Change the width of the three columns to 100%
  (to stack horizontally on small screens) */
@media only screen and (max-width: 800px) {
    .columns {
        width: 100%;
    }
}
